/* Fuente redondeada tipo Arial */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
  --azul-pastel: rgb(95, 143, 163);
  --turqueza: rgb(97, 186, 164);
  --amarillo-palido: rgb(255, 255, 221);
  --naranja-zanahoria: rgb(255, 155, 43);
  --verde-claro: rgb(210, 208, 71);

  --rojo: rgb(255, 0, 0);
   --naranja: #ff9b2b;
   --naranja-claro: #ffbe73;
  --morado-claro: #d6a7ff;
  --texto-boton: #ffffff;
  font-family: "Poppins", sans-serif;
  background-color: rgb(26, 35, 45);
}

body{
    margin: 0;
}

.menu.container{
    background: radial-gradient(circle, rgba(107, 107, 107, 0.8) 60%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    height: 100vh;
    padding-inline: 80px;
    margin: 0 auto;
}

/* Titulo */
#idTitulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#idTitulo h1{
    background: linear-gradient(135deg, var(--naranja) 0%, var(--naranja-claro) 100%);
    color: var(--amarillo-palido);
    border-radius: 30px;
    border: 10px solid transparent;
    min-width: max-content;
    padding-inline: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
}

/* Botones */

#idPBotones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#idPBotones a{
    display: block;
    text-decoration: none; 
}

#idPBotones button{
    background-image: linear-gradient(135deg, var(--naranja) 0%, var(--naranja-claro) 100%);
    color: var(--amarillo-palido);
    border: 2px solid transparent;
   box-shadow:-5px 5px var(--rojo), -10px 10px 10px rgb(255, 0, 0);
    width: max-content;
    padding: 12px;
    margin-block: 15px;
    font-size: 28px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms all;
}

#idPBotones button::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 -18px 0 -18px;
}

#idPBotones button:hover{
   background-image: linear-gradient(135deg, var(--naranja) 0%, var(--naranja-claro) 100%);
    box-shadow:-5px 5px var(--rojo), -10px 10px 10px rgb(255, 0, 0);
    color: var(--amarillo-palido);
    font-size: 35px;
    transition: 150ms all;
}

#idPBotones button:active{
background-image: linear-gradient(135deg, var(--naranja) 0%, var(--naranja-claro) 100%);
    box-shadow:-5px 5px var(--rojo), -10px 10px 10px rgb(255, 0, 0);
    font-size: 32px;
}